allow ueventd sysfs_devices_sensors:file create_file_perms;
allow ueventd sdcard_external:dir search;
allow ueventd sdcard_external:file { read getattr open }; 
allow ueventd usbkeyboard_device:chr_file { create setattr };
allow ueventd kcal_dev:dir r_dir_perms;
allow ueventd kcal_dev:file rw_file_perms;
allow ueventd kcal_dev:lnk_file r_file_perms;
allow ueventd vibe_dev:file { getattr relabelto };
allow ueventd vfat:dir search;
allow ueventd vfat:file { read getattr open };
allow ueventd unlabeled:lnk_file { read getattr open write };
allow ueventd unlabeled:file { read getattr open write };